<main>
    <nav class="navbar">
        <h4>Barbeiros</h4>
        <ul>
            <li><a href="#">serviços</a></li>
            <li><a href="#">sobre nós</a></li>
            <li><a href="#">contatos</a></li>
        </ul>
    </nav>
    <section class="sobre">
        <div class="sobre-descricao">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolores sint pariatur alias voluptates voluptas earum laboriosam neque ad at, soluta animi laudantium ipsam. 
            <br> Molestias rerum vel ratione laboriosam illum!</p>
            <button class="btn-descer"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
                </svg>
            </button>
        </div>
        <div class="img">
            <img src="http://localhost:4200/assets/imgs/45.png" alt="imagem-tesoura">
        </div>
    </section>
</main>